@import "mixins";
@import "timer"; /* stopwatch */

html, body {
	font-size: 14px;
	height: 100%;
}

.main-wrap {
	display: block;
	min-height: 100%; /* sticky footer */
	height: 100%; /* sticky footer */
	margin: 0 auto -171px; /* -130px height, 40px margin, 1px border: sticky footer */
	max-width: 960px;
}
.content-wrap {
	display: block;
	margin: 0 auto;
}

/* general */
.align-left {
	float: left;
}

.align-right {
	float: right;
}

.clearfix {
	clear: both;
}

.ajax-loader {
	margin: 10em auto;
	display: block;
}

/* tabs */
.tab-pane > div {
	margin: 1em auto;
}
/* links */
a:link {
	color: $link-color;
}
/* stopwatch */
.timer {
	margin: 1em;
	
	.timerHours, .timerMinutes {
		font-size: 10em;
	}

	.timerSeconds {
		font-size: 3em;
	}

	.timerUnits {
		font-size: 0.5em;
	}

}

/* main footer */
.main-foot {
	width: 100%;
	margin: 40px 0 0 0;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
	background-color: #eee;
	border-top: 1px solid #ccc;
	color: #888;

	p {
		text-align: center;
	}
}