<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="public/stylesheets/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">

	<!-- main style -->
	<link rel="stylesheet" media="screen" href="public/stylesheets/main.css">

    <title>{{ title }}</title>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
<div class="main-wrap">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="/">Start</a></li>
			</ul>

			<div id="nav-logo">
			</div>

			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Register Now!</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
	</div>
</nav>

	<div class="main-wrap">
    	{{{body}}}
    </div>

    <footer id="main-foot" class="clearfix">
    	<div class="main-wrap">
    		<p>&copy; by Christian Schulze, 2014 — <a href="andinfinity.de" title="andinfinity.de">andinfinity.de</a></p>
    	</div>
	  	<!-- Bootstrap and jQuery -->
	    <script src="public/js/vendor/jquery-1.11.1.min.js" type="text/javascript" charset="utf-8" async defer></script>
	    <script src="public/js/vendor/bootstrap/bootstrap.min.js" type="text/javascript" charset="utf-8" async defer></script>

	    <!-- GP js -->
	    <script src="public/js/lib/time.js" type="text/javascript" charset="utf-8" async defer></script>
		<script src="public/js/script.js" type="text/javascript" charset="utf-8" async defer></script>
    </footer>
</body>
</html>