<div class="main-wrap">

<div class="jumbotron">
	<h1>Oops, this was not supposed to happen!</h1>

	<div class="bs-callout bs-callout-danger">
	    <div class="alert alert-danger">
	    	<p>{{ error_num }} - {{ error }}</p>
	    </div>

	    <p><a class="btn btn-primary btn-lg" role="button" href="/">Start again</a></p>
  	</div>
</div>
</div>